
<style>
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
</style>



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sansita", sans-serif;
}

body{

    background-color: #101418;
}


.wikipedia-parent{
    border: 1px solid red;
    width: fit-content;
    height: fit-content;
    margin: 70px auto;
    text-align: center;
}
.wikipedia-parent>div{
   font-size: 15px;
   font-weight: 400;
   color: white;
}

.WIKIPEDIA{
    font-size: 34px;
    font-weight: 700;
    color: white;
}



.box {
    height: 350px;
    width: 350px;
    border: 1px solid red;
    border-radius: 50%;
    margin: 0 auto 0;
    position: relative;
    text-align: center;
}


.box > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.box>div{
    position: absolute;
}


.child-child1 {
    /* position: absolute; */
    top: 70px;
    left: -90px;
}

.child-child2 {
    /* position: absolute; */
    top: 150px;
    left: -120px;
}

.child-child3 {
    top: 230px;
    left: -120px;
}

.child-child4 {
    top: 310px;
    left: -90px;
}

.child-child5 {
    top: 390px;
    left: -20px;
}

.child-child6 {
    top: 70px;
    right: -90px;
}

.child-child7 {
    top: 150px;
    right: -120px;
}

.child-child8 {
    top: 230px;
    right: -120px;
}

.child-child9 {
    top: 310px;
    right: -90px;
}

.child-child10 {
    top: 390px;
    right: -20px;
}


.child-child1,
.child-child2,
.child-child3,
.child-child4,
.child-child5 {
    text-align: right;
}

.child-child6,
.child-child7,
.child-child8,
.child-child9,
.child-child10 {
    text-align: left;
}




